html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #79756f;
  border: 3px solid #595652;
}

h1 {
  font-family: "Bevan", serif;
  color: #fff;
  text-align: center;
  margin: 0;
}

ul li {
  display: inline-block;
  background-color: #713837;
  padding: .6em;
  margin: .3em;
  border: 3px solid #713837;
  border-radius: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  margin: .3em;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

li:hover {
  background-color: #f33;
  border: 3px solid #f33;
  border-radius: 10px;
}

a:hover {
  background-color: #f33;
}
